body {
	background-color: #201c1b;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}
.login_bg {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}
.no_select { 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
textarea:focus, input:focus{
    outline: none;
}
.loading_screen {
	width: 100vw;
	height: 100vh;
	background: #47332f;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 100;
	font-size: 26px;
	color: white;
}
.error_screen {
	width: 100vw;
	height: 100vh;
	background: #47332f;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 99;
	font-size: 26px;
	color: white;
}

.loading_gif {
	width: 128px;
	height: 128px;
	left: calc(50vw - 64px);
	top: calc(50vh - 64px);
	position: absolute;
}
.loading_text {
	width: 256px;
	height: 32px;
	left: calc(50vw - 128px);
	top: calc(50vh + 75px);
	position: absolute;
}
.loading_bar_outside {
	width: 256px;
	height: 32px;
	left: calc(50vw - 128px);
	top: calc(50vh + 128px);
	background: #281f1d;
	border-radius: 25px;
	position: absolute;
}
.loading_bar_inside {
	height: 20px;
	left: 6px;
	top: 6px;
	background: #ffffff;
	border-radius: 25px;
	position: absolute;
}


#wrapper {
	width: 100vw;
	height: 100vh
}

.listing {
	width: 2.5cm;
	height: 100vh;
	background: #201c1b;
	left: 0px;
	top: 0px;
	position: absolute;


}

.foo2 {
	width: 250px;
	height: calc(100vh - 64px);
	background: #47332f;
	left: 75px;
	top: 0px;
	position: absolute;
	border-radius: 15px 0px 0px 0px;
}

.profile_profilepic {
	width: 52px;
	height: 52px;
	left: 6px;
	top: 6px;
	background: #47332f;
	border-radius: 32px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
}

.profile_name {
	width: 172px;
	height: 16px;
	left: 64px;
	top: 16px;
	position: absolute;
	color: #ffffff;
	font-weight: bold;

}


.foo3 {
	width: 250px;
	height: 64px;
	background: #392926;
	left: 75px;
	top: calc(100vh - 64px);
	position: absolute;
}





.foo4 {
	width: calc(100vw - 250px - 75px - 250px);
	height: calc(100vh - 64px);
	background: #201c1b;
	left: 325px;
	top: 0px;
	position: absolute;
}

.chat_form_add {
	top: 16px;
	left: 16px;
	width: 32px;
	height: 32px;
	position: absolute;
	border-radius: 24px;
	color: #201c1b;
	background: #47332f;
	border: 0px none;
	padding: 0px 6px;
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;

}


.chat_form_text {
	top: 10px;
	left: 64px;
	width: calc(100vw - 250px - 75px - 250px - 198px);
	height: 46px;
	position: absolute;
	border-radius: 24px 0px 0px 24px;
	color: #ffffff;
	background: #47332f;
	border: 0px none;
	padding: 0px 12px;
	font-family: 'Poppins', sans-serif;

}

.chat_form_send {
	top: 10px;
	left: calc(100vw - 250px - 250px - 75px - 70px);
	width: 42px;
	height: 46px;
	position: absolute;
	border-radius: 0px 24px 24px 0px;
	color: #201c1b;
	background: #47332f;
	border: 0px none;
	padding: 0px 6px;
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	transition: 0.3s;


}
.chat_form_send:hover {
	background: #392926;
	color: #ffffff;
	
}

.chat_form_emoji {
	top: 10px;
	left: calc(100vw - 250px - 250px - 75px - 110px);
	width: 42px;
	height: 46px;
	position: absolute;

	color: #201c1b;
	background: #47332f;
	border: 0px none;
	padding: 0px 6px;
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	transition: 0.3s;


}
.chat_form_emoji:hover {
	background: #392926;
	color: #ffffff;
	
}

.chat_bar {
	width: calc(100vw - 250px - 75px - 250px);
	height: 64px;
	background: #281f1d;
	left: 325px;
	top: calc(100vh - 64px);
	position: absolute;
}
.foo6 {
	width: 250px;
	height: 100vh;
	background: #47332f;
	left: calc(100vw - 250px);
	top: 0px;
	position: absolute;
}

.listing_icons {
	width: 52px;
	height: 52px;
	background: #47332f;
	margin-top: 11px;
	margin-left: 11px;
	border-radius: 25px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: 0.3s;
	cursor: pointer;
}
.listing_selected {
	box-sizing: border-box;
	border: 4px dotted #ffffff;
}


.listing_icons:hover {
	border-radius: 5px;
}


.listing_other_people {
	background-image: url("../img/people.png") !important;
}

.listing_spacing {
	width: 32px;
	height: 2px;
	background: #47332f;
	margin-top: 11px;
	margin-left: 22px;
	
}

.members_category {

}

.login_screen {
	width: 100vw;
	height: 100vh;
	border-style: solid;
	border-width: 326px 326px 0 0;
	border-color: #44494f transparent transparent transparent;



}


.members_box {
	width: 242px;
	height: 42px;
	position: absolute;
	left: 8px;
	color: #ffffff;
	cursor: pointer;
	border-radius: 32px 0px 0px 32px;

}
.members_box_profile {
	width: 32px;
	height: 32px;
	position: absolute;
	left: 5px;
	top: 5px;
	cursor: pointer;
	border-radius: 32px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;


}

.members_box_text {
	width: 242px;
	height: 10px;
	position: absolute;
	left: 8px;
	color: #ffffff;
	cursor: pointer;
	border-radius: 32px 0px 0px 32px;

}

.members_box:hover {
	background: #201c1b;
}


.uimagre {
	background-image: url("../img/people.png") !important;
}

@media only screen and (max-width: 856px) {
	.listing {
		display: none;
	}
	.foo2 {
		display: none;
	}
	.foo3 {
		display: none;
	}
	.foo4 {
		left: 0px;
		width: 100vw;
	}
	.chat_bar {
		left: 0px;
		width: 100vw;
	}
	.chat_form_text {
		width: calc(100vw - 64px - 42px - 42px - 42px);
	}
	.chat_form_send {
		left: calc(100vw - 48px - 12px);
	}
	.chat_form_emoji {
		left: calc(100vw - 48px - 12px - 42px);
	}
	.foo6 {
		display: none;
	}




}

